@{
    ViewBag.Title = "Home Page";
}





    <!-- Navigation Bar -->
    <!-- Header -->
    <div style=" top: 250px; position: relative">
            <!-- Scripts -->
            <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
        <header id="header" style=" position: initial">
            <script src="~/Scripts/main.js"></script>
            <nav id="nav">
                <ul>
                    <li><a href="#">Sign In</a></li>

                    <li><a href="#">Sign Up</a></li>
                </ul>
            </nav>

            <h1>The Chill Zone</h1>
            <p>Hangout and chill with your friends online. It's your own personal space on the web. <p />

            <p>Start building and customizing your group's room now!</p></br>
            <ul class="actions">
                <li><a href="#" class="button special big">Get Started</a></li>
            </ul>
            </br>
            </br>
            </br>
        </header>
    </div>
    <!-- Three -->
    <div style="top: 500px; position: relative">
        <section id="three" class="wrapper style1">
            <div class="container">
                <header class="major special">
                    <h2>Hangout With Your Friends Wherever You Are</h2>
                    <p>All you need is a browser and computer</p>
                </header>
                <div class="feature-grid">
                    <div class="feature">
                        <div class="image rounded"><img src="~/images/chatting.jpg" alt="" /></div>
                        <div class="content">
                            <header>
                                <h4>Text, Audio, and Video Chat</h4>
                            </header>
                            <p>Use your webcam and microphone to chat, or simply type messages. Eitherway everyone in your group will be part of your conversations. No one is left out!</p>
                        </div>
                    </div>
                    <div class="feature">
                        <div class="image rounded"><img src="~/images/movies.jpg" alt="" /></div>
                        <div class="content">
                            <header>
                                <h4>Watch Movies and Shows Together</h4>
                            </header>
                            <p>Use our <em>Group Piggy Bank</em> to pitch-in, rent and watch shows and movies from popular online streaming services. Watch together in real-time and see your friends' reactions at the same time!</p>
                        </div>
                    </div>
                    <div class="feature">
                        <div class="image rounded"><img src="~/images/games.jpg" alt="" /></div>
                        <div class="content">
                            <header>
                                <h4>Play Games Together</h4>
                            </header>
                            <p>Choose a multiplayer game from our gaame store to add to your room, and start playing immeadiately with your friends without the hassle of invites or registration.</p>
                        </div>
                    </div>
                    <div class="feature">
                        <div class="image rounded"><img src="~/images/planning.jpg" alt="" /></div>
                        <div class="content">
                            <header>
                                <h4>Organize and Synchronize Your Plans</h4>
                            </header>
                            <p>Use our organizational tools, including group calenders, maps, sticky notes, planners, and much more to put your plans together and keep track of them. Plan your next hangout or your next trip all in one place.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- Signup Form -->
    <!--<form id="signup-form" method="post" action="#">
            <input type="email" name="email" id="email" placeholder="Email Address" />
            <input type="submit" value="Log In" /> <br />
    <input type="submit" value="Sign Up" />
        </form> -->
    <!-- Footer -->
    <!--<footer id="footer">
        <ul class="icons">

        <ul class="copyright">
            <li>&copy; Untitled.</li><li>Credits: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
    </footer>-->



