@{
    Layout = "~/Views/Shared/_RoomLayout.cshtml";
}
    <style>
        .ui-tabs .ui-tabs-panel {
	display: block;
	border-width: 0;
	padding: 1em 1.4em;
	background: blue;
	height: 1024px;
}
    </style>

<div id="tabs">
    <ul style="padding-left: 0px;">
        <li><a href="#tabs-1">Conversation</a></li>
        <li><a href="#tabs-2">Planning Tool</a></li>
        <li><a href="#tabs-3">The Game Room</a></li>
    </ul>
    <div id="tabs-1">
        Yay
        <div class="chat-box-div">

            <div class="panel-body chat-box-main">
                <div class="chat-box-left">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
                <div class="chat-box-name-left">
                    <img src="~/images/me.jpg" alt="bootstrap Chat box user image" class="img-circle" />
                    -  Justine Goliyad
                </div>
                <hr class="hr-clas" />
                <div class="chat-box-right">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
                <div class="chat-box-name-right">
                    <img src="~/images/mizo.jpg" alt="bootstrap Chat box user image" class="img-circle" />
                    - Romin Royeelin
                </div>
                <hr class="hr-clas" />
                <div class="chat-box-left">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
                <div class="chat-box-name-left">
                    <img src="~/images/me.jpg" alt="bootstrap Chat box user image" class="img-circle" />
                    -  Justine Goliyad
                </div>
                <hr class="hr-clas" />
                <div class="chat-box-right">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
                <div class="chat-box-name-right">
                    <img src="~/images/mizo.jpg" alt="bootstrap Chat box user image" class="img-circle" />
                    - Romin Royeelin
                </div>
                <hr class="hr-clas" />
            </div>
            <div class="chat-box-footer">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Enter Text Here...">
                    <span class="input-group-btn">
                        <button class="btn btn-info" type="button">SEND</button>
                    </span>
                </div>
            </div>

        </div>

    </div>
    </div>
    <div id="tabs-2">
        Two Contents
    </div>
    <div id="tabs-3">
        Three Contents
    </div>
</div>