@{
    Layout = "~/Views/Shared/_RoomLayout.cshtml";
}


<div id="tabs">
    <ul style="padding-left: 0px;">
        <li><a href="#tabs-1">Conversation</a></li>
        <li><a href="#tabs-2">Planning Tool</a></li>
        <li><a href="#tabs-3">The Game Room</a></li>
    </ul>
    <div id="tabs-1">
        One Contents
    </div>
    <div id="tabs-2">
        Two Contents
    </div>
    <div id="tabs-3">
        Three Contents
    </div>
</div>